@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0px;

}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 144, 132);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: blue;
}